@tailwind base;
@tailwind components;
@tailwind utilities;


/* the navlink used in navbar adds an active class to the current link */
.active
{
    color: aqua;
}

body {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
